:root {
  --primery: #90d1ca;
  --secondry: #129990;
  --thirdy: #096b68;
  --putih: #fffbde;
  --hitam: #00343f;
}

/* font */
.rowdies {
  font-family: "Rowdies", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}

/* kebutuhan warna */
.bg-primere {
  background-color: var(--primery);
}

.bg-second {
  background-color: var(--secondry);
}

.bg-third {
  background-color: var(--thirdy);
}

.bg-third-75 {
  background-color: rgba(9, 107, 104, 75%);
}

.bg-putih {
  background-color: var(--putih);
}

.bg-white {
  background-color: white;
}

.bg-hitam {
  background-color: var(--hitam);
}

.text-primere {
  color: var(--primery);
}

.text-second {
  color: var(--secondry);
}

.text-third {
  color: var(--thirdy);
}

.text-putih {
  color: var(--putih);
}

.text-hitam {
  color: var(--hitam);
}

/* button */
.btn-outline-primere {
  color: var(--primery) !important;
  outline: 1px solid var(--primery) !important;
  transition: 0.3s;
}

.btn-outline-primere:hover {
  color: var(--thirdy) !important;
  background-color: var(--primery);
}

.btn-outline-third {
  color: var(--thirdy) !important;
  outline: 1px solid var(--thirdy) !important;
  transition: 0.3s;
}

.btn-outline-third:hover {
  color: var(--thirdy) !important;
  background-color: var(--primery);
}

.btn-primere {
  color: var(--thirdy);
  background-color: var(--primery);
  transition: 0.3s;
}

.btn-primere:hover {
  background-color: #7cb3ad;
  color: var(--putih);
}

/* font-size */
.fs-6 {
  font-size: 6px;
}

.fs-8 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-64 {
  font-size: 64px;
}

.fs-50 {
  font-size: 50px;
}

.fs-32 {
  font-size: 32px;
}

.fs-25 {
  font-size: 25px;
}

.fs-20 {
  font-size: 20px;
}

.fs-20-tittle {
  font-size: 20px;
}

.fs-16-link {
  font-size: 16px;
}

/* padding */
.pt-50 {
  padding-top: 90px;
}

/* margin */
.mt-40 {
  margin-top: 40px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-100 {
  margin-top: 100px;
}

/* text-shadow */

.text-shadow {
  text-shadow: 1px 1px 5px var(--thirdy);
}

/* codingan */
body {
  background-color: var(--putih);
  color: var(--thirdy);
  overflow-x: hidden;
}

.nav-decoration::after {
  content: "";
  bottom: 0;
  transform: scaleX(0);
  border-bottom: 3px solid var(--primery);
  transition: 0.3s;
  visibility: hidden;
  display: block;
}

.nav-decoration:hover::after {
  visibility: visible;
  transform: scaleX(0.5);
}

.nav-link:hover {
  color: var(--primery) !important;
}

.active {
  color: var(--primery) !important;
  transition: 0.3s;
}

.pointer {
  cursor: pointer;
}

.hover-putih {
  color: var(--putih);
}

.hover-putih:hover {
  color: var(--primery);
}

.hover-primere {
  color: var(--primery);
}

.hover-primere:hover {
  color: var(--thirdy);
}

.container-full {
  width: 100vw;
  padding-bottom: 75px;
}

.container-full2 {
  width: 100vw;
  height: 125vh;
}

.background {
  width: 100vw;
  height: 110vh;
  background: linear-gradient(rgba(9, 107, 104, 35%)),
    url("/img/backgroundIndex.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
}

.background2 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(9, 107, 104, 35%)),
    url("/img/background3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.border-primere {
  border: 5px solid var(--primery);
}

.top--3 {
  top: -70px;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}

.w80 {
  width: 80%;
}

.wdcptn {
  width: 45%;
}

.lingkaran {
  width: 120px;
  height: 120px;
  font-size: 60px;
  border: 4px solid var(--putih);
}

.search::placeholder {
  color: var(--thirdy);
  font-size: 15px;
}

.outline-third {
  outline: 1px solid var(--thirdy);
}

.search:focus {
  color: var(--thirdy);
}

.search-hover:hover {
  background-color: #065c58;
}

.room {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-ctm {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 15px;
}
.btn-third {
  background-color: transparent;
  color: var(--thirdy);
  transition: 0.3s;
  border: 1px solid var(--thirdy);
}
.btn-third:hover {
  background-color: var(--thirdy);
  color: var(--putih);
}
.btn-putih {
  border: 1px solid var(--putih);
  color: var(--putih);
  transition: 0.3s;
  background-color: transparent;
}
.btn-putih:hover {
  background-color: #003c48;
}

.hover-primere {
  background-color: #90d1ca;
  color: var(--thirdy);
}
.hover-primere:hover {
  background-color: #6fa39e;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #90d1ca;
  transition: 0.3s;
  color: var(--thirdy);
}

.icon:hover {
  background-color: #82bcb6;
}

.icon-size {
  font-size: 20px;
}

.input-kontak {
  border: 3px solid var(--putih);
  padding: 3px 15px;
  border-radius: 5px;

  width: 100%;
  background: transparent; /* transparan */
}

.input-kontak:hover {
  border: 3px solid var(--primery);
}

.input-bar {
  background: transparent;
  color: var(--putih);
  outline: none;
  border: none;
  width: 100%;
}

.input-kontak:hover .input-bar {
  color: var(--primery);
}

.text-icon {
  color: var(--putih);
}

.input-kontak:hover .text-icon {
  color: var(--primery);
}

.input-bar::placeholder {
  color: var(--putih);
}

.input-bar:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.input-bar-area {
  resize: none;
  background: transparent !important;
  color: var(--putih) !important;
  outline: none !important;
  border: none !important;
  width: 100%;
}

.input-bar-area::placeholder {
  color: var(--putih);
}

.btn-submit {
  font-size: 15px;
  outline: none;
  background: transparent;
  border: 3px solid var(--putih);
  color: var(--putih);
  border-radius: 5px;
  transition: 0.3s;
}

.btn-submit:hover {
  border: 3px solid var(--primery);
  color: var(--primery);
}

.text-decoration-u {
  text-decoration: none;
}

.text-decoration-u:hover {
  text-decoration: underline;
}

/* extra large */
@media (max-width: 1200px) and (min-width: 993px) {
  .wdcptn {
    width: 80%;
  }
  .lingkaran {
    width: 95px;
    height: 95px;
    font-size: 50px;
  }
}

/* large */
@media (max-width: 992px) and (min-width: 769px) {
  .fs-64 {
    font-size: 48px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .fs-25 {
    font-size: 22px;
  }
  .w40 {
    width: 60%;
  }
  .w50 {
    width: 80%;
  }
  .wdcptn {
    width: 80%;
  }
  .lingkaran {
    width: 90px;
    height: 90px;
    font-size: 50px;
  }
  .mt-40 {
    margin-top: 50px;
  }
}

/* medium */
@media (max-width: 768px) and (min-width: 577px) {
  .fs-64 {
    font-size: 40px;
  }
  .fs-20 {
    font-size: 16px;
  }
  .fs-25 {
    font-size: 22px;
  }
  .fs-32 {
    font-size: 25px;
  }
  .fs-16 {
    font-size: 14px;
  }
  .fs-20-tittle {
    font-size: 18px;
  }
  .w40 {
    width: 75%;
  }
  .w50 {
    width: 75%;
  }
  .lingkaran {
    width: 95px;
    height: 95px;
    font-size: 50px;
  }
  .wdcptn {
    width: 80%;
  }
  .mt-40 {
    margin-top: 50px;
  }
}

/* small */
@media (max-width: 576px) and (min-width: 0px) {
  .fs-64 {
    font-size: 35px;
  }
  .fs-20 {
    font-size: 13px;
  }
  .fs-25 {
    font-size: 20px;
  }
  .fs-32 {
    font-size: 23px;
  }
  .fs-16 {
    font-size: 12px;
  }
  .fs-20-tittle {
    font-size: 16px;
  }
  .w40 {
    width: 75%;
  }
  .w50 {
    width: 80%;
  }
  .lingkaran {
    width: 90px;
    height: 90px;
    font-size: 50px;
  }
  .wdcptn {
    width: 80%;
  }
  .mt-40 {
    margin-top: 70px;
  }
  .fs-16-link {
    font-size: 14px;
  }
}
